@media (max-width: 768px) {
    .mobile {
        display: unset;
    }

    .whyus {
        text-align: center;
    }
    
    .bg-biru {
        height: 450px;
        padding-bottom: 0;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .ourService {
        font-size: 15px;
    }
}

.owl-carousel {
    overflow: hidden;
}
  
.owl-carousel .owl-item img {
    width: auto;
}

.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 10px;
    height: 32px;
    width: 32px;
    background:#F1F3FF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background:#5CB85F;
    border: none;
}

.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #e3d9ff;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}